/* Variables */
body {
  font-family: 'Open Sans', sans-serif;
  color: #363636;
  background: #ededed;
  font-size: 16px; }

.primary, h2, strong {
  color: #3b5a76; }

#profile-img {
  height: 180px;
  width: 160px;
  margin: auto;
  margin-top: -70px;
  display: block; }

section {
  background-color: #ffffff;
  width: 90%;
  margin: 80px auto;
  padding: 0 30px 30px 30px; }

header {
  min-height: 100px;
  overflow: auto; }
  header h1 {
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-align: center;
    line-height: 1.4em; }

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.4em; }

.about-content {
  letter-spacing: 1.2px;
  line-height: 1.5em; }

.contact-list {
  padding: 0;
  margin: 0; }
  .contact-list li {
    list-style: none;
    font-weight: bold;
    line-height: 3.2em;
    margin-left: 10px; }
  .contact-list a:hover {
    cursor: pointer; }

.contact-icon {
  height: 30px;
  width: 30px;
  margin-right: 5px; }

.media {
  background: #ededed;
  padding: 10px; }
  .media h4 {
    line-height: 1.5em;
    font-weight: bold; }

.year {
  margin-right: 10px;
  padding: 10px; }

.prog-style {
  margin-bottom: 25px;
  margin-left: 15px; }

#project-container {
  height: 350px; }

#project-1 {
  height: 250px;
  margin: 20px 20px 20px 10px;
  width: 30%;
  float: left;
  position: relative; }

#project-1 img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-filter: grayscale(100%); }

#project-1-details {
  position: absolute;
  top: 55px;
  left: 60px;
  color: #ffffff;
  visibility: hidden; }

#project-1-details h4 {
  font-style: italic;
  text-align: center; }

#project-1-details h3 {
  text-align: center; }

#project-1-details a {
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px; }

#project-1-details a:hover {
  border: 1px solid white;
  cursor: pointer;
  background-color: #0d0d0d; }

#project-2 {
  height: 250px;
  margin: 20px 20px 20px 10px;
  width: 30%;
  float: left;
  position: relative; }

#project-2 img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-filter: grayscale(100%); }

#project-2-details {
  position: absolute;
  top: 55px;
  left: 60px;
  color: #ffffff;
  visibility: hidden; }

#project-2-details h4 {
  font-style: italic;
  text-align: center; }

#project-2-details h3 {
  text-align: center; }

#project-2-details a {
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px; }

#project-2-details a:hover {
  border: 1px solid white;
  cursor: pointer;
  background-color: #0d0d0d; }

#project-3 {
  height: 250px;
  margin: 20px 20px 20px 10px;
  width: 30%;
  float: left;
  position: relative; }

#project-3 img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-filter: grayscale(100%); }

#project-3-details {
  position: absolute;
  top: 55px;
  left: 60px;
  color: #ffffff;
  visibility: hidden; }

#project-3-details h4 {
  font-style: italic;
  text-align: center; }

#project-3-details h3 {
  text-align: center; }

#project-3-details a {
  border: 1px solid white;
  display: inline-block;
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px; }

#project-3-details a:hover {
  border: 1px solid white;
  cursor: pointer;
  background-color: #0d0d0d; }

footer {
  margin-top: 30px;
  padding: 15px 0 15px 0;
  text-align: right;
  background: #3b5a76;
  color: #fff;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
